body {
    background-image: url(waves_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr 1fr;
}

.header {
    background-color: rgba(255, 255, 255, .6);
    border-bottom: 5px solid #000000
}

.logo {
    width: 100%;
    margin: 0px 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0px 250px 5px 250px;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    font-weight: bold;
    font-style: oblique;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

.content {
    background-color: rgba(3, 27, 28, 0.8);
    color: white;
    border-radius: 40px / 35px;
    margin: 5% 10%;
    padding: 5% 10%;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.pages img {
    width: 480px;
    height: 223px;
}

.gallery a:hover img {
    opacity: .6;
}

.title {
    font-size: 40px;
}

.text {
    font-size: 18px;
}

#contact img {
    height: 100px;
    width: auto;
    margin: 0px;
}

.contactlinks {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr .5fr;
}

#headshot {
    width: 30%;
    border-radius: 100%;
    padding-left: 15px;
}
